.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__current-group
      .Main-chat__group-info__current-group__group-name
        = @group.name
      .Main-chat__group-info__current-group__member-list
        Member :
        - @group.users.each do |user|
          = user.name
                    
    = link_to edit_group_path(@group), method: :get, class: "Main-chat__group-info__edit-btn" do
      Edit

  .Main-chat__message-list
    = render @messages
    
   


  .Main-chat__message-form
    = form_with model: [@group, @message], html: {class: "Main-chat__message-form__input-box"}, local: true do |f|
      .Main-chat__message-form__input-box__contents
        = f.text_field :content, class: 'Main-chat__message-form__input-box__contents__input-text', placeholder: 'type a message'
        = f.label :image, class: 'Main-chat__message-form__input-box__contents__input-img' do
          = icon('far', 'image', class: 'Main-chat__message-form__input-box__contents__input-img__icon')
          = f.file_field :image, class: 'Main-chat__message-form__input-box__contents__input-img__hidden-file'
      = f.submit 'Send', class: 'Main-chat__message-form__input-box__send-btn'