.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__user-box
      .Side-bar__user-name__user-box--user-name
        masa
      .Side-bar__user-name__user-box--icon-btn
        = link_to "#", class: "Side-bar__user-name__user-box--icon-btn--edit-btn" do
          = icon('far', 'edit',  class: "Side-bar__user-name__user-box--icon-btn--edit-btn--icon1")
        = link_to "#", class: "Side-bar__user-name__user-box--icon-btn--tool-btn" do
          = icon('fas', 'cog',  class: "Side-bar__user-name__user-box--icon-btn--tool-btn--icon2")

  .Side-bar__group-list
    .Side-bar__group-list__group-box
      = link_to "#" do
        .Side-bar__group-list__group-box--group-name
          test
        .Side-bar__group-list__group-box--latest-message
          まだメッセージがありません
    .Side-bar__group-list__group-box
      = link_to "#" do
        .Side-bar__group-list__group-box--group-name
          techcamp
        .Side-bar__group-list__group-box--latest-message
          まだメッセージがありません